<header style="background-color: #333; color: #fff; padding: 20px;">
  <div class="header-content" style="display: flex; justify-content: space-between;">
    <div class="header-left">
      <h1>our company</h1>
    </div>
  </div>
</header>