<table style="width:100%; padding:40px 30px; box-sizing:border-box">
    <tr>
        <td style="font-size: 18px; text-align: center">
            {{name}}, you need to enter on site!
        </td>
    </tr>
    <tr>
        <td style="text-align: center">
            <p style="margin: 17px 0 0">
                you need to restore password, click on the button
            </p>
            <a href="https://{{frontUrl}}/some">RESTORE PASSWORD</a>
        </td>
    </tr>

</table>