<table style="width:100%; padding:40px 30px; box-sizing:border-box">
    <tr>
        <td style="font-size: 18px; text-align: center">
            {{name}}, welcome to our platform!
        </td>
    </tr>
    <tr>
        <td style="text-align: center">
            <p style="margin: 17px 0 0">
                you need submit email, click button
            </p>
            <a href="http://frontUrl/activate/:actiontoken"></a>
        </td>
    </tr>
    <tr>
        <td style="text-align: center">
            <button>submit</button>
        </td>
    </tr>

</table>